body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
